body{
    background-color: #002037;
}


/* star style google font  */
.fontPraise{
    font-family: "Praise", cursive;
    font-weight: 400;
    font-size: 75.53px;
    
}
.fontFredoka{
    font-family: "Fredoka", sans-serif;
    color: #FFFFFF;
}
.FredokaSize{
    font-size: 50px;
}

.fontPoppins{
    font-family: "Poppins", sans-serif;
}


/* end style google font  */
 

/* star section 1 */

.h3Section{
    font-size: 90.35px ;
    font-weight: 500;
    line-height: 95.72px ;
    letter-spacing: -6px;
}
.pSection{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #CDCDCD;
}
.boll::before{
    content: "";
    position: absolute;
    top: -10px ;
    left: -10px ;
    width: 52px;
    height: 52px;
    background-color: #029BC5 ;
    border-radius: 50%;
}
.boll::after{
    content: "";
    position: absolute;
    top: 5px ;
    left: 15px ;
    border: 10px solid ;
    border-top-color: #ff000000 ;
    border-bottom-color: #12ad1c00 ;
    border-left-color: white ;  
    border-right-color: #0d00ff00 ;
}
/* star img  */
.Camera{
    position: absolute;
    bottom: 60px;
    left: -20px;
}
.blimp{
    position: absolute;
    right: -32px;
    top: 87px;
}
.airplane{
    position: absolute;
    top: -30px;
    left: -35px;
}
.Rectangle{
    position: absolute;
    bottom: 200px;
    left: 60px;
    
    
}
.m{
    width: 550px;
    height: 600px;
}

/* end img  */
/* end section 1 */




/* star section Tow */

.h3SecTow{
    text-align: center;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

}
.pSecTow{
    text-align: center;
    color: #CACACA;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    padding: 0
}
.con{
    background-color: #022B49;
    border-radius: 24px;
    padding-top: 180px;
    margin-top: 100px;
    
}
.imgSecTow{
    /* transform: translate(0px , -80px); */
    position: absolute;
    top: -80px;
    
}
/* end section Tow */




/* star section three */

/* star img  */
.imgCap{
    width: 449.58px;
    height:450px;
    border-top-left-radius: 50% ;
    border-top-right-radius: 50% ;
    border-bottom-left-radius: 50% ;
    border-bottom-right-radius: 0;

}
.cap{
    position: absolute;
    top: -97px;
    left: 70px;
}
.cameraCap{
    position: absolute;
    bottom: 15px;
    left: 15px;
}
/* end img */

/* end section three */


/* star section 4 section three img   */

.veto1 , .veto2 , .veto3 { 
    background-color: #FFFFFF;
    background-image: url(https://s3-alpha-sig.figma.com/img/9f48/9c26/1b2da82d33dc784f20faf2d79956cd58?Expires=1722816000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=kWxRcYQ1ayI0VySX27Ihqg4K3m9x9EYbUZ0P2cmuJjCzcdqjlpWZy0V1LxC1hVLQtaJZnImsCpkG~8W5DpBuo0jfj2TQG2PlarmjG7pyOK4wrsp4M2KAa34aY4osfiDHLz-J1Lq4w1gaR2jPx68Oi7G~Io2Zy3N2jCnTJvL97z8142Yx8wFSAUJuhOJVtsfjPYH86iLrMHXYhTAojEKzdQN49Ie2hkLHS~LGpdk7T9NdGL4Ja9z0c9sWVBoPMqcaG4UE3is5OeScsVYVDwjA1LvMgqkEYp93iczYOomX09raLqPJiTMJQ1R8XSj5V67tcw1Cf3MAmRx90ftHwV~8Lg__);
    background-size: cover;
    padding-top: 257px;
    border-radius: 24px;
}
.veto2{ 
    background-image: url(https://s3-alpha-sig.figma.com/img/9514/5b68/678eafdec225515eafa66c6300a1fda3?Expires=1722816000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=W~f-1qDtR3ObWNmmDmLm6z3wlXU7oSukl8gofg~72SSRmTT~fm3NqEG6Psu--13cZZaUPhs3mcFyRUgwrN1eC4S9iOi1lXPmFsX3gT~AIfr3nS~zJfEUPc~wktgKdbmOE6uuxhdFrQA3~dxFS24sP8I-GoeFRj8hZ~SsLvx1xZ7pjLhXOwZQ3GU~hiiadO-9KbCfqxyKYjZCMgo39f60EFzwm9Q4nXvO3MdYldp6N-4alUOMgIRDpn4A2cGGrWlyuxIqS3e9kuAjvDS7yaB7O8fL6Zr7QzaMtwk1fuIKp1eiuEuzfPyFYbnnPtAXsFhbiyw00ts8XI41x2lXfQZyCQ__);
 
}
.veto3{ 
    background-image: url(https://s3-alpha-sig.figma.com/img/bb81/2839/13f023815acd74c34ded3a199061c76b?Expires=1722816000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=MTGvsWbL7cIrqmbAFh-JLu80VSP1KL3T-jHD0m~I~HgFVP~upiDqK0ZDdB-ip2f3K~liiuRo~DHPT-NoGepz52uQUkENA~2dhfK9J0n5DVuHxYeglyFiNrAZd00g5bWwVM~0jYgSAoc8yDYR-wyqjpus9R5XAWVOIjisOtMO8SJWlYhC6~c17f7aIEKTBpq3UcwVOTaQMIiNFzWZJQrDkugtKmZ873nRTt5DvI4mCjAtbIbYg68X37PlljyqJnAwx9spoiXNSPtd4FIZLxmJa7NovOCx8CHWdDolnJS9VThZolA2wRlTCJDeYAPJyF3y76Eft5TKT5LcPDeknXjfDg__);
}
.cF{
    color: #5e6282;
    border-radius: 0  0  24px 24px ;
}
.redNumber{
    color: #C80202;
    font-weight: 700;
}
.cDivSend{
    color: #1D3557;
}

.watermelon{
    width: 211px;
    height: 211px;
    position: absolute;
    bottom: -82px;
    right: -52px;
}
.compass{
    width: 211px;
    height: 211px;
    position: absolute;
    top: 200px;
    left: -85px;
}

/* end section 4 section three img   */


/* star section 5   */




.colDiv{
    color: #5E6282;
}
.card{
    width: 504px;
    height: 245px;
    border-radius: 10px;

}
.arrow{
    position: absolute;
    bottom: 30px;
    right: -30px;
}
a{
    text-decoration: none;
    
}
#down , #up{
    color: white;
}
.cardAbsolute{
    position: absolute;
    bottom: -80px;
    right: -0px;
    opacity: .3;
    z-index: -1;
}

.cardHidden {
    display: none; /* Hide the inactive cards */
}

.posImg{
    width:315.99px  ;
    height: 315.99px;
    position: absolute;
    bottom: -172px;
    left: -70px;
}
/* end section 5   */

/* stART section 6   */
.fontSize6{
    font-size: 80px;
}
.bgsec6{
    background-color: #022B49;
    border-radius: 20px;
}
.imgPassport{
    position: absolute;
    bottom: -45px;
    left: -60px;
}

.imgTaxi{
    width: 250px;
    height: 250px;
    position: absolute;
    right: -60px;
    top: -90px;

}
.px-5x{
    padding: 0  0 0 20px   ;
    width: 350px;
}


/* end section 6  */


/* start footer  */
.activLi {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;

}
.u{
    list-style: none;
    color: #FAFAFA;
    font-size: 16px;
    font-weight: 400;
}
.u li{
    padding-bottom: 20px;
}





.playstore-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 9999px;
    background-color: rgba(0, 0, 0, 1);
    padding: 0.625rem 1.5rem;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    outline: 0;
    transition: all  .2s ease;
    text-decoration: none;
  }
  
.playstore-button:hover {
    background-color: transparent;
    color: rgba(0, 0, 0, 1);
  }
  
  .icon {
    height: 1.5rem;
    width: 1.5rem;
  }
  
  .texts {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1;
  }
  
  .text-1 {
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
  }
  
  .text-2 {
    font-weight: 600;
  }

  .playstore-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 9999px;
    background-color: rgba(0, 0, 0, 1);
    padding: 0.625rem 1.5rem;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    outline: 0;
    transition: all 0.2s ease;
    text-decoration: none;
  }
  
  .playstore-button:hover {
    background-color: transparent;
    color: rgba(0, 0, 0, 1);
  }
  
  .icon {
    height: 1.5rem;
    width: 1.5rem;
  }
  
  .texts {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1;
  }
  
  .text-1 {
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
  }
  
  .text-2 {
    font-weight: 600;
  }
  
/* end footer  */